@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
:root {
  --text-color: #fff;
  --text-size-normal: 1.5rem;
  --text-size-big: 3rem;
}
* {
  box-sizing: border-box;
}
body {
  background-color: #496a81;
  font-family: "PT Sans", sans-serif;
  margin: 0;
  font-size: 20px;
  height: 100vh;
}
nav {
  background-color: #2b3a6777;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
nav a {
  text-decoration: none;
  color: var(--text-color);
  margin-left: 1rem;
}
i {
  margin-right: 0.5rem;
}
.contacts {
  text-decoration: none;
  font-size: var(--text-size-normal)
  color: var(--text-color);
  margin: 0 1rem;
}

#github-link:hover {
  transform: scale(1.25);
  transition: 0.2s;
}
#email-link:hover {
  transform: scale(1.25);
  transition: 0.2s;
}
header {
  background-image: url(https://images.unsplash.com/photo-1555066931-4365d14bab8c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
  background-size: cover;
  color: var(--text-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  position: relative;
}
header::after {
  content: "";
  background: #000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.8;
}
header * {
  position: relative;
  z-index: 1;
}
header h1 {
  font-size: var( --text-size-big);
  margin-bottom: 1.5rem;
  margin-top: 0;
}
header p {
  font-size: var(--text-size-normal);
  margin: 0;
  text-align: center;
}
#projects {
  text-align: center;
  font-size: var(--text-size-normal);
}
.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.project-tile {
  text-decoration: none;
  margin-top: 2rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  transition: transform 0.3s ease;
}
.project-tile:hover {
  transform: scale(1.05);
}

.project-tile img {
  max-width: 100%;
}
.project-tile p {
  color: var(--text-color);
  font-size: var(--text-size-normal);
}
.project-img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 5%;
  height: 100%;
  object-fit: cover;
}
.project-tile-img {
  height: 500px;
  width: 500px;
}
footer {
  background-color: #66999b;
  color: var(--text-color);
  padding: 0.5rem;
  text-align: center;
  margin-top: 5rem;
}
